@import url(reset.css);

:root{
    --cor-background: #FFEDD0;
    --cor-sidebar: #22333B;
    --cor-texto-preto: #000000;
    --cor-background-section: #ffffff;
    --cor-link-cadastro: #444444;
    --cor-cardapio-1: #FFAC44;
    --cor-cardapio-2: #22333B;
}

body {
    background-color: var(--cor-background);
}

