@import url(./global.css);

.container-itens {
    display: grid;
    height: 80%;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 20px;
    gap: 20px;
}

.item {
    width: 100%;
    max-width: 500px; 
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

.tipo-1 {
    background: var(--cor-cardapio-1);
    color: var(--cor-cardapio-2);
}

.tipo-2 {
    background: var(--cor-cardapio-2);
    color: var(--cor-cardapio-1);
}

.item img {
    max-width: 90%; 
    height: auto;
    margin-right: 10px;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.botao{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
}

.btn-1{
    background: var(--cor-cardapio-2);
    color: var(--cor-cardapio-1);
}

.btn-2{
    background: var(--cor-cardapio-1);
    color: var(--cor-cardapio-2);
}

.btn-1:hover{
    background: #141d22;
}

.btn-2:hover{
    background: #f88d0a;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .flavor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.add,
.remove {
    background-color: #f1f1f1;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity {
    margin: 0 10px;
}

.finalize {
    display: block;
    margin: auto;
    padding: 20px;
    font-size: 16px;
    background: var(--cor-cardapio-1);
    color: var(--cor-cardapio-2);
    border-radius: 10px;
}

.finalize:hover{
    background: #e98e1f;
}

@media (max-width: 1280px) {
    .container-itens {
        grid-template-columns: 1fr;
    }    
}
