@import url(./global.css);

.principal {
    height: 100vh;
    margin-left: 250px;
    padding: 20px;
}

.img-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-logo img {
    width: 320px;
    height: 200px;
}

.container-itens {
    display: grid;
    height: 80%;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 20px;
    gap: 20px;
}

.item {
    width: 100%;
    max-width: 500px; 
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

.tipo-1 {
    background: var(--cor-cardapio-1);
    color: var(--cor-cardapio-2);
}

.tipo-2 {
    background: var(--cor-cardapio-2);
    color: var(--cor-cardapio-1);
}

.item img {
    max-width: 90%; 
    height: auto;
    margin-right: 10px;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.botao{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
}

.btn-1{
    background: var(--cor-cardapio-2);
    color: var(--cor-cardapio-1);
}

.btn-2{
    background: var(--cor-cardapio-1);
    color: var(--cor-cardapio-2);
}

.btn-1:hover{
    background: #141d22;
}

.btn-2:hover{
    background: #f88d0a;
}

@media (max-width: 1280px) {
    .container-itens {
        grid-template-columns: 1fr;
    }    
}
